<div class="bg-success" style="align-items: center;">
  <h1 style="padding: 10px;">在庫管理表&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>product by <a href="http://ec-merchant.com" target="_blank">ec-merchant.com</a></small></h1>
</div>
<h4>ログイン中：<%= @user %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'ログアウト', destroy_user_session_path, method: :get %>&nbsp;&nbsp;&nbsp;<%= link_to 'トップページ', apps_show_path, method: :get %>&nbsp;&nbsp;&nbsp;<%= link_to '管理者専用', rails_admin_path, method: :get %></h4>
<br>

<ul class="nav nav-tabs" role="tablist">
  <li class="active" role="presentation">
    <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">1.在庫管理表</a>
  </li>
  <li role="presentation">
    <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">2.入出力管理</a>
  </li>
  <li role="presentation">
    <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">3.設定一覧</a>
  </li>
  <li role="presentation">
    <a aria-controls="tab_d" data-toggle="tab" href="#tab_e" role="tab">4.出庫データ</a>
  </li>
  <li role="presentation">
    <a aria-controls="tab_d" data-toggle="tab" href="#tab_d" role="tab">5.パスワード設定</a>
  </li>
</ul>
<br>
<div class="tab-content">
  <div class="tab-pane active" id="tab_a" role="tabpanel">
    <p>在庫管理データ</p>
    <div id="stock_data"></div>
  </div>

  <div class="tab-pane" id="tab_b" role="tabpanel">
    <%= form_tag({controller: "stocks", action: "import", method: "post"}, {multipart: true}) do %>
      <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-success">
                在庫ファイルの選択<%= file_field_tag :file, style: "display:none;" %>
            </span>
        </label>
        <input type="text" class="form-control" readonly="" style="width:300px;" id="fname">
      </div>
      <br>
      <%= submit_tag "在庫ファイルのインポート", class: "btn btn-success" %>
    <% end %>
    <br>
    <br>
    <table class="table table-bordered" style="width: 340px;">
      <thead>
        <tr>
          <th>#</th>
          <th>受付時刻</th>
          <th>終了時刻</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td id="sttime"><%= @sttime %></td>
          <td id="fntime"><%= @fntime %></td>
        </tr>
      </tbody>
    </table>
    <p>CSV出力設定</p>

    <%= search_form_for(@q, url: '/stocks/show#tab_b', html: { method: :post, class: 'form-horizontal', role: 'form' }) do |f| %>
      <%= render 'search_form', f: f %>
    <% end %>

    <br>

    <h4>検索結果</h4>
    <table class="table table-list ">
      <thead>
        <tr>
          <th>在庫管理番号</th>
          <th>仕入価格</th>
          <th>入庫日</th>
          <th>ブランド</th>
          <th>製品番号</th>
          <th>仕入先</th>
        </tr>
      </thead>
      <% if @products != nil %>
        <% @products.each do |product| %>
        <tbody>
          <tr>
            <td><%= product.stock_id %> </td>
            <td><%= product.purchase_price %></td>
            <td><%= product.store_date %></td>
            <td><%= product.brand %></td>
            <td><%= product.product_id %></td>
            <td><%= product.purchase_shop %></td>
          </tr>
        </tbody>
        <% end %>
      <% else %>
        <tbody>
          <tr>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <div class="tab-pane" id="tab_c" role="tabpanel">
    <%= form_tag({controller: "stocks", action: "load", method: "post"}, {multipart: true}) do %>
      <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-success">
                設定ファイルの選択<%= file_field_tag :set_file, style: "display:none;" %>
            </span>
        </label>
        <input type="text" class="form-control" readonly="" style="width:300px;" id="set_fname">
      </div>
      <br>
      <%= submit_tag "設定ファイルのインポート", class: "btn btn-success" %>
      &nbsp;
      <%= submit_tag "設定ファイルの削除", class: "btn btn-success" %>
    <% end %>
    <br>
    <div id="setting_data"></div>
  </div>

  <div class="tab-pane" id="tab_e" role="tabpanel">
    <%= form_tag({controller: "stocks", action: "update", method: "post"}, {multipart: true}) do %>
      <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-success">
                出庫ファイルの選択<%= file_field_tag :file_e, style: "display:none;" %>
            </span>
        </label>
        <input type="text" class="form-control" readonly="" style="width:300px;" id="fname_e">
      </div>
      <br>
      <div class="form-group" style="width:250px;">
        <%= label_tag :password_in, "パスワードの入力" %>
        <%= password_field_tag 'password_in', nil, class:"form-control" %>
      </div>
      <%= submit_tag "出庫ファイルのインポート", class: "btn btn-success" %>
    <% end %>
    <br>
    <br>
    <%= form_tag({controller: "stocks", action: "delete", method: "post"}, {multipart: true}) do %>
      <div class="form-group" style="width:250px;">
        <%= label_tag :password_del, "パスワードの入力" %>
        <%= password_field_tag 'password_del', nil, class:"form-control" %>
      </div>
      <%= submit_tag "在庫データの全削除", class: "btn btn-alert" %>
    <% end %>
    <br>
    <% if flash[:alarm] %>
      <div class="alert alert-danger">
        <%= flash[:alarm] %>
      </div>
    <% end %>

    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash[:alarm1] %>
      <div class="alert alert-danger">
        <%= flash[:alarm1] %>
      </div>
    <% end %>

    <% if flash[:success1] %>
      <div class="alert alert-success">
        <%= flash[:success1] %>
      </div>
    <% end %>


  </div>

  <div class="tab-pane" id="tab_d" role="tabpanel">
    <div class="row">
      <div class="col-md-3">
        <p>管理パスワードの設定</p>
        <%= form_tag('/stocks/setpw', method:'post') do %>
          <div class="form-group">
            <%= label_tag :password, "現在のパスワード" %>
            <%= password_field_tag 'password', nil, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :new_password, "変更後のパスワード" %>
            <%= password_field_tag 'new_password', nil, class:"form-control" %>
          </div>
          <%= submit_tag "設定", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
    <br>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>

</div>
