
<div class="bg-warning" style="align-items: center;">
  <h1 style="padding: 10px;">eBay詳細検索ページ</h1>
</div>
<h4>ログイン中：<%= @user %><%= link_to '通常検索', items_show_path, method: :get, style: 'margin-left: 16pt;' %><%= link_to 'トップページ', apps_show_path, method: :get, style: 'margin-left: 16pt;' %><%= link_to '管理者専用', rails_admin_path, method: :get, style: 'margin-left: 16pt;' %><%= link_to 'ログアウト', destroy_user_session_path, method: :get, style: 'margin-left: 16pt;' %></h4>
<br>

<ul class="nav nav-tabs" role="tablist">
  <li class="active" role="presentation">
    <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">1.検索条件の設定</a>
  </li>
  <li role="presentation">
    <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">2.キーワードの入力</a>
  </li>
  <li role="presentation">
    <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">3.検索結果の確認</a>
  </li>
</ul>

<br>
<div class="tab-content">
  <div class="tab-pane active" id="tab_a" role="tabpanel">
    <div class="row">
      <div class="col-md-12">
        <p>検索条件の基本設定</p>
      </div>
    </div>
    <%= form_for(@condition, url: '/items/update', method: :post, html:{class:'form-horizontal'} ) do |f| %>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_app_id">eBayAppID</label>
        <div class="col-md-8">
          <%= f.text_field(:app_id, class:'form-control') %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_low_price">最低価格($)</label>
        <div class="col-md-8">
          <%= f.text_field(:low_price, class:'form-control') %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_high_price">最高価格($)</label>
        <div class="col-md-8">
          <%= f.text_field(:high_price, class:'form-control') %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_category_id">カテゴリーID</label>
        <div class="col-md-8">
          <%= f.select :category_id, @category_group, {}, {class:'form-control'} %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_item_condition">商品状態</label>
        <div class="col-md-8">
          <%= f.select :item_condition, @condition_group, {}, {class:'form-control'} %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_sales_type">販売形式</label>
        <div class="col-md-8">
          <%= f.select :sales_type, @sales_group, {}, {class:'form-control'} %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_handling_time">最大出荷期間 ※1以上の数字を入力</label>
        <div class="col-md-8">
          <%= f.text_field(:handling_time, class:'form-control') %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_rank">価格の順位</label>
        <div class="col-md-8">
          <%= f.text_field(:rank, class:'form-control') %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="col-md-4 control-label" for="search_condition_score">セラーの評価</label>
        <div class="col-md-8">
          <%= f.text_field(:score, class:'form-control') %>
        </div>
      </div>
      <div class="form-group col-md-5">
        <div class="col-md-1">
          <%= hidden_field_tag :user, @search_user %>
        </div>

          <%= f.submit('保存する', class:'btn btn-primary') %>

      </div>
    <% end %>
  </div>

  <div class="tab-pane" id="tab_b" role="tabpanel">
    <div class="row">
      <div class="col-md-12">
        <%= form_with url: items_get_path, method: :post do |form| %>
          <div class="form-inline">
            <label for="search_keyword">検索キーワード：</label>
            <%= text_field_tag :search_keyword, @search_keyword, class: 'form-control', style: 'width: 450px;' %>
            <%= form.submit '検索開始', class: 'btn btn-primary', style: 'margin-left: 10pt;' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="tab_c" role="tabpanel">
    <div class="row">
      <div class="col-md-12">
        <p>処理状況：<%= @status %></p>
        <p>取得条件</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>取得日時</th>
              <th>キーワード</th>
              <th>カテゴリID</th>
              <th>最低価格</th>
              <th>最高価格</th>
            </tr>
          </thead>
          <tbody>
            <% if @search_group != nil then %>
            <tr>
              <td><%= @search_group.created_at.strftime("%Y/%m/%d %H:%M") %></td>
              <td><%= @search_group.query %></td>
              <td><%= @search_group.category_id %></td>
              <td><%= @search_group.low_price %></td>
              <td><%= @search_group.high_price %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <div class="col-md-12">
        <%= form_with url: items_download_path(format: :csv), method: :post do |form| %>
          <%= submit_tag 'ダウンロード', class: 'btn btn-primary', style: 'margin-right: 10pt;' %>
          <label class="checkbox-inline"><input type="checkbox" name="item_id" value="1" id="chk_id" checked />商品ID</label>
          <label class="checkbox-inline"><input type="checkbox" name="title" value="1" id="chk_title" checked />商品名</label>
          <label class="checkbox-inline"><input type="checkbox" name="item_url" value="1" id="chk_url" checked />商品URL</label>
          <label class="checkbox-inline"><input type="checkbox" name="price" value="1" id="chk_sprice" checked />販売価格</label>
          <label class="checkbox-inline"><input type="checkbox" name="condition" value="1" id="chk_cond" checked />コンディション</label>
          <label class="checkbox-inline"><input type="checkbox" name="shipping" value="1" id="chk_ship" checked />配送期間</label>
          <label class="checkbox-inline"><input type="checkbox" name="specs" value="1" id="chk_ship" checked />Item Spec</label>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {

    $(document).ready(function() {
    // #(ハッシュ)指定されたタブを表示する
      var hashTabName = document.location.hash;
      if (hashTabName) {
        $('.nav-tabs a[href="' + hashTabName + '"]').tab('show');
      }
    });

    //タブ切り替え時にリロード

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var activated_tab = e.target // activated tab
      var previous_tab = e.relatedTarget // previous tab
      keyword_handsontable.render();
      result_handsontable.render();
    })

  })

  function formatDate (date, format) {
    format = format.replace(/yyyy/g, date.getFullYear());
    format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
    format = format.replace(/dd/g, ('0' + date.getDate()).slice(-2));
    format = format.replace(/HH/g, ('0' + date.getHours()).slice(-2));
    format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
    format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
    format = format.replace(/SSS/g, ('00' + date.getMilliseconds()).slice(-3));
    return format;
  };
</script>
